{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "import"],
  "rules": {
    "lines-between-class-members": [2, "always", { "exceptAfterSingleLine": true }],
    "import/order": 2,
    "import/newline-after-import": 2,
    "import/first": 2,
    "import/no-anonymous-default-export": 2
  }
}
